<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">  <%# Sets column width and centers text %>

      <h3>Create an Account</h3>

<br>

      <p>Please select your role to create an account:</p>

<div class="d-flex justify-content-center gap-3 mt-4">
    <button type="button" class="btn btn-primary btn-lg">Student</button>
    <button type="button" class="btn btn-primary btn-lg">Teacher/Tutor</button>
</div>

    </div>
  </div>
</div>
      