<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">  <%# Sets column width and centers text %>

      <h3>Create an Account</h3>

<br>

      <p>Please select your role to create an account:</p>

<div class="d-flex justify-content-center gap-3 mt-4">
    <%= link_to "Student", student_account_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Teacher/Tutor", teacher_account_path, class: "btn btn-primary btn-lg" %>
</div>

    </div>
  </div>
</div>
      