<div class="container">
<br>
  <h1 class="text-center mb-4">Browse All Resources</h1>


  <% if @resources.any? %>
    <% @resources.each do |resource| %>
      <div class="card mb-3" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title"><%= resource.title %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= resource.description %></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <a href="<%= resource.upload_file_or_link %>" class="card-link" target="_blank">View Resource</a>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">No resources uploaded yet.</p>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to "Upload New Resource", new_resource_path, class: "btn btn-primary" %>
  </div>
</div>
