<h1 class="text-center">Welcome to TutorHub</h1>
<h2 class="text-center">Your go-to platform for educational resources!</h2>
<div>
 <% @resources.each do |resource| %>
   <%= resource.name %>
   <%= resource.link %>
   <%= button_to "Delete", resource, method: :delete, data: { confirm: "Are you sure you want to delete this Resource?" } %>
 <% end %>
</div>