<h1>All Resources</h1>
<div>
 <% @resources.each do |resource| %>
   <%= resource.name %>
   <%= resource.link %>
   <%= button_to "Delete", resource, method: :delete, data: { confirm: "Are you sure you want to delete this Resource?" } %>
 <% end %>
</div>